body {
  background-color: #1094F6;
  color: white;
  font-family: "Ubuntu";
  /*height:100%;
  width:100%;*/
}
/*#Content {
  height: calc(100% - 88px);
}*/

webview {
  width: 100%;
  height: calc(100vh - 165px)
}